<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.section01.model.dao.EmployeeMapper">
    <resultMap id="memberResultMap" type="com.ohgiraffers.section01.model.dto.EmployeeDTO">
        <id property="empId" column="EMP_ID"/>
        <result property="empName" column="EMP_NAME"/>
        <result property="empNo" column="EMP_NO"/>
        <result property="email" column="EMAIL"/>
        <result property="phone" column="PHONE"/>
        <result property="deptCode" column="DEPT_CODE"/>
        <result property="jobCode" column="JOB_CODE"/>
        <result property="salLevel" column="SAL_LEVEL"/>
        <result property="salary" column="SALARY"/>
        <result property="bonus" column="BONUS"/>
        <result property="managerId" column="MANAGER_ID"/>
        <result property="hireDate" column="HIRE_DATE"/>
        <result property="entDate" column="ENT_DATE"/>
        <result property="entYn" column="ENT_YN"/>
    </resultMap>

    <select id="salaryBysalary" parameterType="int" resultMap="memberResultMap">
        SELECT
            *
        FROM
            EMPLOYEE
        WHERE
            SALARY &gt; #{salary}
    </select>

    <select id="Department" parameterType="com.ohgiraffers.section01.model.dto.DepartmentDTO" resultMap="memberResultMap">
        SELECT
            *
        FROM
            EMPLOYEE
        <where>
            <choose>
                <when test="deptTitle == '인사관리부'">
                    DEFT_CODE IN (D1)
                </when>
            </choose>
        </where>

        <!--
     comment.
        <choose>(when/otherwise) 태그 : java 의 switch-case 문의 역할
        사용방법
        <choose>
            <when test='조건'>
                쿼리문
            </when>
            '''
            <otherwise>
                쿼리문

            </otherwise>
        </choose>
        test 속성 조건에 부합하면 해당하는 when 구문의 쿼리를 수행
        어떠한 when 구문의 조건도 만족하지 못하면 otherwise 구문의
        쿼리문 수행
     -->

    </select>

</mapper>